-s<h2 style="text-align: center;margin-top: -150px;"> grr </h2>

<ul class="timeline">
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/bear-start.gif" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">starting together
                </b>
                <br><i style="font-size:large">Aug '24 - Present<br></i><br>
                <p> Life's tough, but bears are soft. if my readings resonate with you, please help (and hug) someone in need. 
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            </div>
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/milkshake.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">support ʕっ•ᴥ•ʔっ With Me
                </b>
                <br><i style="font-size:large">aug '24 - present<br></i><br>
                <p> wooo! grrr! you can support by donating at <a href="buymeacoffee.com/bearwithmetarot">buy me a vanilla milkshake</a>
                  all money would be used for running the site (getting our own logo, new decks; not on vanilla milkshakes :D) and doing beary stuff (help & hug)</p>
            </div>
        </div>
    </li>
</ul>
<hr>
</br>
<!-- <div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            I've been lucky to be advised by / collaborate with many amazing people
        </p>
        <ul class="list-items bullets">
            <li><a href="https://scholar.google.com/citations?user=CQ1cqKkAAAAJ&hl=en&oi=ao">jianfeng gao</a> 🤖 (msr
                manager)</li>
            <li><a href="https://scholar.google.com/citations?user=xT19Jc0AAAAJ&hl=en&oi=ao">bin yu</a> 🤖 (phd advisor)
            </li>
            <li><a href="https://scholar.google.com/citations?user=l6nlkhMAAAAJ&hl=en&oi=ao">aaron kornblith</a> 💊</li>
            <li><a href="https://scholar.google.com/citations?user=JNXWWkIAAAAJ&hl=en&oi=ao">alex huth</a> 🧠</li>
            <li><a href="https://scholar.google.com/citations?user=nxwNAEgAAAAJ&hl=en&oi=ao">gokul upadhyayula</a> 🦠
            </li>
            <li><a href="https://scholar.google.com/citations?user=eXKdSu0AAAAJ&hl=en&oi=ao">yanjun qi</a> 🤖</li>
            <li><a href="https://scholar.google.com/citations?user=fRDCooIAAAAJ&hl=en&oi=ao">francois lanusse</a> 🌌
            </li>
            <li><a href="https://scholar.google.com/citations?user=V_NdI3sAAAAJ&hl=en&oi=ao">srini turaga</a> 🧠</li>
            <li><a href="https://scholar.google.com/citations?user=j29kMCwAAAAJ&hl=en&oi=aol">pietro perona</a> 🤖</li>
            <li><a href="https://med.virginia.edu/faculty/faculty-listing/wbl/">william levy</a> 🧠</li>
        </ul>
    </div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            It has been my pleasure to help advise some incredible students
        </p>
        MSR PhD interns
        <br>
        <ul class="list-items bullets">
            <li><a href="https://www.linkedin.com/in/yufan-zhuang/">yufan zhuang</a></li>
            <li><a href="https://yandachen.github.io">yanda chen</a></li>
            <li><a href="https://www.linkedin.com/in/qingru-zhang-4b789a187/">qingru zhang</a></li>
        </ul>
        <br>
        Berkeley undergrad/MS students
        <ul class="list-items bullets">
            <li><a href="https://www.linkedin.com/in/nasseri/">keyan nasseri</a> ('20-'22)</li>
            <li><a href="https://www.linkedin.com/in/ssaxena00/">sahil saxena</a> ('22)</li>
            <li><a href="https://www.linkedin.com/in/saarimrahman/">saarim rahman</a> ('21-'22)</li>
            <li><a href="https://www.linkedin.com/in/rush-kapoor/">rush kapoor</a> ('21-'22)</li>
            <li><a href="https://www.linkedin.com/in/summer-devlin-5454b7154/">summer devlin</a> ('18-'19)</li>
            <li><a href="https://www.linkedin.com/in/chris-lu-37471b119/">chris lu</a> ('17-'18)</li>
        </ul>
    </div>
    <div class="coll9">
    </div>
</div> -->
